.action-bar {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: 1px solid #e7e7e7;
		background-color: #f3f3f3;
	}

	li {
		float: left;

		&:last-child {
			border-right: none;
		}

		a {
			display: block;
			color: #666;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			
			&.active {
				background-color: #4CAF50;
			}
			&:hover:not(.active) {
				background-color: #ddd;
			}	
		}
	}
}